name: "Deploy Docs"
run-name: ${{ github.event.workflow_run.head_commit.message }}

on:
  workflow_run:
    workflows: [ "Build" ]
    types: [ "completed" ]
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install poetry
        run: |
          python -m pip install poetry
      - name: Configure poetry
        run: |
          python -m poetry config virtualenvs.in-project true
      - name: Cache the virtualenv
        uses: actions/cache@v3
        with:
          path: ./.venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}
      - name: Install documentation dependencies
        run: |
          make install-docs
      - name: Deploy docs to GitHub pages
        run: |
          make deploy-docs
